/.vs
/Platformer/Platformer/x64
/Platformer/.vs
/Platformer/x64
Platformer/Platformer/resource.h
Platformer/Platformer/Platformer.vcxproj.user
Platformer/Platformer/Platformer.vcxproj.filters
Platformer/Platformer/Platformer.rc
